<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>

<!--ページ上部のプロフィール-->
<div class="row enduser-profile">
  <% if enduser_signed_in? %>
    <div class="introduction col-xl-3">
      <%= link_to edit_enduser_path(current_enduser.id), data: {"turbolinks" => false} do %>
        <%= attachment_image_tag @enduser, :profile_image,  fallback: 'no-image.jpg', format: 'jpeg', class: "enduser-top-profile-img" %><br />
      <% end %>
      <p><%= @enduser.nick_name %></p>
      <p><%= @enduser.introduction %></p>
    </div>
    <div class="relationship col-xl-9">
      <%= render "enduser/relationships/follow-btn", enduser: @enduser %>
    </div>
  <% else %>
    <div class="introduction col-xl-3">
      <%= attachment_image_tag @enduser, :profile_image,  fallback: 'no-image.jpg', format: 'jpeg', size:'300x200', class: "enduser-profile-img" %><br />
      <p><%= @enduser.nick_name %></p>
      <p><%= @enduser.introduction %></p>
    </div>
    <div class="relationship col-xl-9">
      <%= render "enduser/relationships/follow-btn", enduser: @enduser %>
    </div>
  <% end %>
</div>

<!--トップ下のページリンク-->
<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <% if enduser_signed_in? %>
    <% if current_enduser != @enduser %>
    　<%= link_to "user", enduser_path(@enduser) %>
    <% else %>
    　<%= link_to "user", enduser_path(current_enduser) %>
    <% end %>
  <% else %>
    <%= link_to "user", enduser_path(@enduser) %>
  <% end %>
</div>

<!--新規post投稿へのリンク-->
<% if enduser_signed_in? %>
  <div class="post-new"><%= link_to "" , new_post_path, data: {"turbolinks" => false}, class: "post-new fa fa-plus-square-o" %></div>
<% else %>
  <br>
<% end %>

<!--ページ下部の画像表示部分-->
<div class="row enduser-show-post">
  <% @posts.each do |post| %>
    <div class="col-xl-4 enduser-post">
      <!--crrentuserの時は編集ページに写真がリンクする-->
      <% if enduser_signed_in? %>
        <% if current_enduser != @enduser %>
          <%= attachment_image_tag post, :post_image, :fill, 300, 200, format: 'png', size:'300x200' %>
        <% else %>
          <%= link_to edit_post_path(post), data: {"turbolinks" => false} do %>
            <%= attachment_image_tag post, :post_image, :fill, 300, 200, format: 'png', size:'300x200' %>
       　  <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


