<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept2.png', :size =>'1200x150') %></div>


<div class="hostuser-inquiry-index">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>問い合わせID</th>
        <th>氏名</th>
        <th>アドレス</th>
        <th>問い合わせ内容</th>
        <th>返信状況</th>
      </tr>
    </thead>
    <tbody>
      <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.id%></td>
        <td><%= inquiry.name %></td>
        <td><%= mail_to inquiry.email %></td>
        <td><%= inquiry.message %></td>
        <td>
          <%= form_with model: inquiry, url: hostuser_inquiry_path(inquiry), method: :PATCH, local: true do |f| %>
          　<%= f.radio_button :reply_status, false %>
            <%= f.label :reply_status, "返信未", {value: :false, style: "display: inline-block;"} %>
            <%= f.radio_button :reply_status, true %>
            <%= f.label :reply_status, "返信済", {value: :true, style: "display: inline-block;"} %>
            <%= f.submit "更新", class: "btn btn-outline-dark" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
