<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "問い合わせ", enduser_inquiry_path(@inquiry) %>
</div>

<div class="inquiry-show">
  <div class="thanks">
    <%= image_tag('thanks.png', :size =>'600x75') %><br>
    <p><%= @inquiry.name %> 様<br>
    問い合わせありがとうございました。<br>
    内容を確認次第返信させていただきますのでお待ちください。</p>
    <p>ご返信先：<%= @inquiry.email %></p>
    <p>内容：<%= @inquiry.message %></p>
    <%= image_tag('wait.png', :size =>'600x75') %><br>
  </div>
</div>


