<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
  <span>>></span>
  <%= link_to "予約カレンダー", enduser_reservations_path %>
</div>

<h2>見学の予約をする</h2>

<div class="enduser-reservation">
  <%= form_with model: @reservation, url: enduser_reservations_path, local: true do |f| %>

    <!--エラー文-->
    <% if @reservation.errors.any? %>
     <div class=“error_explanation”>
     <h5 class="text-danger"><%= @reservation.errors.count %>件のエラーが発生しました。</h5>
     <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li class="text-danger">●<%= message %></li>
      <% end %>
        </ul>
      </div>
    <% end %>

    <div class="reservation-container">
      <!--予約(開始)-->
      <div class="reservation-new">
        <div class="form-group">
          <div class="input-group" data-target-input="nearest">
            <%= f.text_field :start_date, id: "start_created_at", class: "form-control datetimepicker6", data: { target: '#start_created_at'}, :placeholder => "希望開始時間" %>
            <div class="input-group-append" data-target="#start_created_at" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
      <%= f.submit "この日程で予約する", class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>


<h2>現在の予約状況</h2>
<div class="row enduser-reservations">

  <div class="col-xl-8">
    <div id="calendar"></div>
  </div>

  <div class="enduser-reservations-index col-xl-4">
    <% if enduser_signed_in? %>
      <div>あなたの現在の予約状況</div>
      <% @reservations.each do |reservation| %>
        <% if reservation.enduser_id == current_enduser.id %>
            <div class="enduser-reservation-book">
              <% if reservation.present? && reservation.start_date > Date.today %>
               <%= link_to "", enduser_reservation_path(reservation), class: "fas fa-book-open" %>
               <%= reservation.start_date.strftime("%Y/%m/%d %H:%M") %><span>(編集する)</span>
              <% end %>
            </div>
        <% end %>
      <% end %>
    <% else %>
      <p>ログインしてから予約をしてください</p>
    <% end %>
  </div>


</div>

<!--カレンダー押したら出てくる-->
<script type="text/javascript">
  $(function () {
    $('.datetimepicker6').datetimepicker({
      format:'Y/M/D HH:00'
    });
    $(".datetimepicker6").on("dp.change", function (e) {
      $('.datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
  });


// フルカレンダー
  $(function () {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function () {
      if ($('#calendar').length) {

        function Calendar() {
          return $('#calendar').fullCalendar({
          });
        }
        function clearCalendar() {
          $('#calendar').html('');
        }

        $(document).on('turbolinks:load', function () {
          Calendar();
        });
        $(document).on('turbolinks:before-cache', clearCalendar);

        //events: '/events.json', 以下に追加
        $('#calendar').fullCalendar({
            events: [
              <% @reservations.each do |reservation|%>
              {
                id: '<%= reservation.id %>',
                title: '×',
                start: '<%= reservation.start_date.strftime("%Y/%m/%d %H:%M") %>'
              },
              <% end %>
            ],

        //カレンダー上部を年月で表示させる
        titleFormat: 'YYYY年 M月',
        //曜日を日本語表示
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        //ボタンのレイアウト
        header: {
            left: '',
            center: 'title',
            right: 'today prev,next'
        },
      //終了時刻がないイベントの表示間隔
      defaultTimedEventDuration: '03:00:00',
      buttonText: {
          prev: '前',
          next: '次',
          prevYear: '前年',
          nextYear: '翌年',
          today: '今日',
          month: '月',
          week: '週',
          day: '日'
      },
      // Drag & Drop & Resize
      editable: true,
      //イベントの時間表示を２４時間に(am,pmを表示しない)
      timeFormat: "HH:mm",
      minTime: 0,
      maxTime: 24,
      //イベントの色を変える
      eventColor: '#87cefa',
      //イベントの文字色を変える
      eventTextColor: '#000000',
      eventRender: function(event, element) {
          element.css("font-size", "0.8em");
          element.css("padding", "5px");
      }
          });
        }
    });
  });
</script>