<div class="top-border"><%= image_tag('border.png', :size =>'1100x5') %></div>
<div class="top-img"><%= image_tag('concept.png', :size =>'1100x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
  <span>>></span>
  <%= link_to "予約", new_enduser_pet_reservation_path(@pet) %>
</div>

<h2>見学の予約をする</h2>

<%= form_with model: @newreservation, url: enduser_pet_reservations_path(@pet), local: true do |f| %>
  <%= f.hidden_field :pet_id, value: @pet.id %>
  <div class="reservation-container">
    <!--予約(開始)-->
    <div class="col-xl-8">
      <div class="form-group">
       <div class='input-group date' id='datetimepicker6'>
          <%= f.text_field :start_date, class: 'form-control', :placeholder => "希望開始時間" %>
          <span class="input-group-addon">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
      </div>
    </div>
    <!--予約(終了)-->
    <div class="col-xl-8">
      <div class="form-group">
        <div class='input-group date' id='datetimepicker7'>
          <%= f.text_field :end_date, class: 'form-control', :placeholder => "希望終了時間" %>
            <span class="input-group-addon">
              <i class="far fa-calendar-alt"></i>
            </span>
        </div>
      </div>
    </div>
    <%= f.submit "この日程で予約する", class: "btn btn-outline-dark" %>
  </div>
<% end %>

<!--カレンダー押したら出てくる-->
<script type="text/javascript">
  $(function () {
    $('#datetimepicker6').datetimepicker({
      format:'Y/M/D HH:mm:ss'
    });
    $('#datetimepicker7').datetimepicker({
      format:'Y/M/D HH:mm:ss',
      useCurrent: false //Important! See issue #1075
    });
    $("#datetimepicker6").on("dp.change", function (e) {
      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker7").on("dp.change", function (e) {
      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
    });
  });
</script>