<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
</div>

<div class="enduser-pet-index">
  <h2>検索</h2>
  <!--検索機能-->
  <!--ジャンルで絞り込む-->
  <div class="genre-search">
    <span>[ジャンル検索]</span>
    <% @genres.each do |genre| %>
      <%= link_to genre.name, enduser_genre_path(genre), class: "btn btn-outline-dark" %>
    <% end %>
  </div>
  <!-- ワードで検索-->
  <div class="search">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <div class="free-word-seach">
         <span>[ワード検索]</span>
        <%= text_field_tag :search %>
      </div>
      <div class="option-word-seach">
        <span class="option-word-seach-span">[条件検索]</span>
        <span>年齢：</span>
        <%= f.select :age, Pet.ages_i18n.invert, {} %>
        <span>性別：</span>
        <%= f.select :sex, Pet.sexes_i18n.invert, {} %>
        <span class="br">サイズ：</span>
        <%= f.select :size, Pet.sizes_i18n.invert, {} %>
        <span>ワクチン：</span>
        <%= f.select :vaccine_status, Pet.vaccine_statuses_i18n.invert, {}, class: "vaccine_status-seach" %><br>
        <span>避妊：</span>
        <%= f.select :castration_status, Pet.castration_statuses_i18n.invert, {} %>
        <span>単身：</span>
        <%= f.select :single_status, Pet.single_statuses_i18n.invert, {} %>
        <span class="br">高齢者：</span>
        <%= f.select :older_status, Pet.older_statuses_i18n.invert, {} %>
        <span>都道府県：</span>
        <%= f.select :prefectures, Pet.prefectures_i18n.invert, {} %>
        <%= submit_tag '検索', :name => nil %>
      </div>

    <% end %>
  </div>
</div>


  <!--ペット画像一覧-->
  <%= image_tag('border.png', :size =>'1185x5', class: "border-img") %>
  <h2>ペット一覧</h2>
  <% @pets.each do |pet|%>
    <div class="row enduser-pet-index-now">
      <div class="col-xl-6 col-xl-offset-1 col-md-5">
        <h3><%= pet.name %>(<%= pet.sex_i18n %>)</h3>
        <%= attachment_image_tag pet, :animal_image, fallback: 'no-image.jpg', size: '600x400', class: "enduser-pet-index-img" %>
      </div>
      <div class="col-xl-2 col-md-2 col-4">
        <ul>
          <li>ジャンル：</li>
          <li>名前：</li>
          <li>種類：</li>
          <li>年齢</li>
          <li>性別：</li>
          <li>サイズ：</li>
          <li>ワクチン</li>
          <li>去勢・避妊</li>
          <li>単身者応募：</li>
          <li>高齢者応募：</li>
          <li>都道府県</li>
          <li>備考:</li>
          <li>現在の募集状況：</li>
        </ul>
      </div>
      <div class="col-xl-2 col-md-3 col-4">
        <ul>
          <li><%= pet.genre.name %></li>
          <li><%= pet.name %></li>
          <li><%= pet.kind %></li>
          <li><%= pet.age_i18n%></li>
          <li><%= pet.sex_i18n %></li>
          <li><%= pet.size_i18n %></li>
          <li><%= pet.vaccine_status_i18n %></li>
          <li><%= pet.castration_status_i18n %></li>
          <li><%= pet.single_status_i18n %></li>
          <li><%= pet.older_status_i18n %></li>
          <li><%= pet.prefectures_i18n %></li>
          <li><%= pet.detail %></li>
          <li><%= pet.pet_status_i18n %></li>
        </ul>
      </div>
      <div class="enduser-pet-index-reservation-btn col-xl-1 col-md-1 col-1">
        <%= link_to "予約する", enduser_reservations_path, class: "btn btn-outline-dark"  %>
      </div>
      <div class="top-border pet-border"><%= image_tag('border.png', :size =>'1185x5', class: "border-img") %></div>
    </div>
    <% end %>
</div>
