<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
</div>

<div class="enduser-pet-index">
  <h2>登録ペット一覧</h2>

  <!--検索機能-->
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <table class="search">
      <tr>
        <th><%= text_field_tag :search %></th>
        <th><%= submit_tag '検索', :name => nil %></th>
      </tr>
    </table>
  <% end %>

  <!--ペット画像一覧-->
  <% @pets.each do |pet|%>
    <div class="row enduser-pet-index-now">
      <div class="top-border"><%= image_tag('border.png', :size =>'1105x5') %></div>
      <div class="col-xl-6 col-xl-offset-1">
        <h3><%= pet.name %>(<%= pet.sex_i18n %>)</h3>
        <%= attachment_image_tag pet, :animal_image, fallback: 'no-image.jpg', format: 'jpeg', size:'600x400' %>
      </div>
      <div class="col-xl-2">
        <ul>
          <li>ジャンル：</li>
          <li>名前：</li>
          <li>性別：</li>
          <li>年齢</li>
          <li>種類：</li>
          <li>サイズ：</li>
          <li>都道府県</li>
          <li>去勢・避妊</li>
          <li>単身者応募：</li>
          <li>高齢者応募：</li>
          <li>備考:</li>
          <li>現在の募集状況：</li>
        </ul>
      </div>
      <div class="col-xl-2">
        <ul>
          <li><%= pet.genre.name %></li>
          <li><%= pet.name %></li>
          <li><%= pet.sex_i18n %></li>
          <li><%= pet.age_i18n%></li>
          <li><%= pet.kind %></li>
          <li><%= pet.size_i18n %></li>
          <li><%= pet.prefectures_i18n %></li>
          <li><%= pet.castration_status_i18n %></li>
          <li><%= pet.single_status_i18n %></li>
          <li><%= pet.older_status_i18n %></li>
          <li><%= pet.detail %></li>
          <li><%= pet.pet_status_i18n %></li>
        </ul>
      </div>
      <div class="reservation col-xl-1">
        <%= link_to "予約", enduser_reservations_path  %>
      </div>
      <div class="top-border"><%= image_tag('border.png', :size =>'1105x5') %></div>
    </div>
    <% end %>
</div>
