<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
   <span>>></span>
  <%= link_to "ペット検索", search_path %>
</div>

<h2>Pet search for 『<%= @word %>』</h2>
<div class="enduser-pet-search col-xl-12">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>genre</th>
        <th>kind</th>
        <th>name</th>
        <th>image</th>
        <td>sex</td>
        <th>pet_status</th>
        <th><i class="fas fa-paw"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= pet.genre.name %></td>
          <td><%= pet.kind %></td>
          <td><%= pet.name %></td>
          <td><%= attachment_image_tag pet, :animal_image, :fill, 40, 40, format: 'png', size:'40x40' %> </td>
          <td><%= pet.sex_i18n %></td>
          <td><%= pet.pet_status_i18n %></td>
          <td><%= link_to "詳細" ,enduser_pet_path(pet) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>