<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
   <span>>></span>
  <%= link_to "sign up", new_enduser_registration_path %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "endusers/shared/error_messages", resource: resource %>

  <% flash.each do |message_type, messages| %>
    <% messages.each do |message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <% end %>

  <div class="field form-group col-xs-12">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>


  <div class="field form-group col-xs-12">
    <%= f.label :"Nickname" %><br />
    <%= f.text_field :nick_name, autofocus: true %>
  </div>

  <div class="field email-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br><br>
  </div>

  <div class="field introduction-fileld">
    <%= f.label :"Introduction" %><br />
    <%= f.text_field :introduction , autofocus: true %><br /><br>
   </div>

   <div class="field img-input">
    <%= image_tag 'no-image.jpg', onChange: "$('.img_field').change()", class: 'center-block new-profile-img img_prev'%><br>
    <%= f.attachment_field :profile_image, class: 'img_field' %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="actions enduser-action">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%#= render "endusers/shared/links" %>
