<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "ペット一覧", enduser_pets_path %>
   <span>>></span>
  <%= link_to "ペット検索", search_path %>
</div>

<h2>Pet search for 『<%= @genre.name %>』</h2>
<div class="enduser-genre-index col-xl-12">
  <table class="table table-border">
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>名前</th>
        <th>種類</th>
        <td>性別</td>
        <td>歳</td>
        <td>サイズ</td>
        <td>都道府県</td>
        <td>ワクチン</td>
        <td>避妊</td>
        <td>単身</td>
        <td>高齢</td>
        <th>募集状況</th>
        <th><i class="fas fa-paw"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @genre.pets.each do |pet| %>
        <tr>
          <td><%= pet.genre.name %></td>
          <td>
            <%= attachment_image_tag pet, :animal_image, :fill, 40, 40, format: 'png', size:'40x40' %>
            <%= pet.name %>
          </td>
          <td><%= pet.kind %></td>
          <td><%= pet.sex_i18n %></td>
          <td><%= pet.age_i18n %></td>
          <td><%= pet.size_i18n %></td>
          <td><%= pet.prefectures_i18n %></td>
          <td><%= pet.vaccine_status_i18n %></td>
          <td><%= pet.castration_status_i18n %></td>
          <td><%= pet.single_status_i18n %></td>
          <td><%= pet.older_status_i18n %></td>
          <td><%= pet.pet_status_i18n %></td>
          <td class="enduser-genre-index-show"><%= link_to "詳細" ,enduser_pet_path(pet), class: "btn btn-outline-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>