<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "about", homes_about_path %>
</div>

<div class="about concept">
  <h2>当団体について</h2>
  <div class="row">
    <div class="col-xl-8 col-md-7">
      <p>
        <br>
        animalhomeの目的は、保護犬・猫のイメージを変え、
        動物と人がよりよく共に暮らせる文化【ペットと人の幸せの架け橋】を提供することです。<br>
        ペットライフを送っている方、ペットと暮らしたことのない方でも飼育のサポートを行なっています。<br>
        ペットとの暮らしには、必ずお困りのことが出てくるでしょう。<br>
        困った時になんでも相談ができる存在としても、animalhomeは皆様のペットライフをサポートします。<br>
      </p>
    </div>
    <div class="col-xl-4 col-md-5">
      <%= image_tag('about1.png', :size =>'430x300', class: "cat-saboten") %>
    </div>
  </div>
</div>
<div class="about adoption">
  <h2>譲渡について</h2>
  <div class="row">
    <div class="col-xl-8 col-md-7">
      <p>
        <br>
        ペットと暮らしたことのない方でも安心して一緒に過ごすことのできるようサポートして参ります。<br>
        一匹一匹個性があり、募集条件が厳しい子も中にはいます。
        気になる子がいましたらお気軽にお問い合わせから連絡ください。
        <br>
      </p>
    </div>
    <div class="col-xl-4 col-md-5">
      <%= image_tag('about2.png', :size =>'400x180', class: "nikukyuu") %>
    </div>
  </div>
</div>
<div class="about protect">
  <h2>保護について</h2>
  <div class="row">
    <div class="col-xl-8 col-md-7">
      <p>
        <br>
        どうしても諸事情で飼えなくなってしまう方もいることです。<br>
        保護先を探している方々が安心してペットを見送れるように、そしてペットと暮らしたいと<br>
        考えている方も安心して迎え入れることのできるようにしています。<br>
      </p>
    </div>
    <div class="col-xl-4 col-md-5">
      <%= image_tag('about3.png', :size =>'300x200', class: "bloom") %>
    </div>
  </div>
</div>






