<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "about", homes_about_path %>
</div>

<div class="about concept">
  <h2>当団体について</h2>
  <div class="row">
    <div class="col-xl-8">
      <p>
        <br>
        保護犬・猫のイメージを変え、動物と人がよりよく共に暮らせる文化にする<br>
        animalhomeの目的は、【ペットと暮らす幸せな生活の提供】です。<br>
        ペットライフを送っている方、ペットと暮らしたことのない方でも飼育のサポートを行なっています。<br>
        ペットとの暮らしには、必ずお困りのことが出てくるでしょう。<br>
        「どこの動物病院に行こうかな？」「良いトリマーさんっていないかな？」<br>
        「ご飯あまり食べてくれないな」など、わからないことや聞きたいことが出てくるはずです。<br>
        困った時になんでも相談ができる存在としても、animalhomeは皆様のペットライフをサポートしています。<br>
      </p>
    </div>
    <div class="col-xl-4">
      <%= image_tag('about1.png', :size =>'430x300', class: "bloom") %>
    </div>
  </div>
</div>
<div class="about adoption">
  <h2>譲渡について</h2>
  <div class="row">
    <div class="col-xl-8">
      <p>
        <br>
        ペットと暮らしたことのない方でも安心して一緒に過ごすことのできるようサポートして参ります。<br>
        施設に足を運んでいただくかお越しいただくことの難しい遠方の方・身体が不自由な方は<br>
        問い合わせフォームからお気軽にお問い合わせください。<br>
        登録の動物たちを観覧することができますので、遠隔でもサポートできる体制を整えています。<br>
      </p>
    </div>
    <div class="col-xl-4">
      <%= image_tag('about2.png', :size =>'400x180', class: "bloom") %>
    </div>
  </div>
</div>
<div class="about protect">
  <h2>保護について</h2>
  <div class="row">
    <div class="col-xl-8">
      <p>
        <br>
        どうしても諸事情で飼えなくなってしまう方もいることです。<br>
        保護先を探している方々が安心してペットを見送れるように、そしてペットと暮らしたいと考えている方も<br>
        安心して迎え入れることのできる仕組みを作っております。<br>
      </p>
    </div>
    <div class="col-xl-4">
      <%= image_tag('about3.png', :size =>'300x200', class: "bloom") %>
    </div>
  </div>
</div>






