<div class="top-border"><%= image_tag('border.png', :size =>'1100x5') %></div>
<div class="top-img"><%= image_tag('concept.png', :size =>'1100x150') %></div>
<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "shop guide", homes_guide_path %>
</div>

<div class="guide">
  <h2>アクセス</h2>
  <%= image_tag('map.jpg', :size =>'300x200') %>
  <p>
    住所：東京都◯◯区✖✖✖町3町目２−１　△△△△△ビル１階
    電話：☎︎ 06 - 1234 -5678
    駅：日本駅　徒歩4分
  </p>
</div>
<div class="guide">
  <h2>グルーミングスペース</h2>
  <%= image_tag('grooming1.png', :size =>'300x200') %>
  <%= image_tag('grooming2.png', :size =>'300x200') %>
  <%= image_tag('grooming3.png', :size =>'300x200') %>
  <p>わんちゃん達の清潔を保っています</p>
</div>
<div class="guide">
  <h2>相談ブース</h2>
  <%= image_tag('consultation-01.png', :size =>'300x200') %>
  <%= image_tag('consultation-02.png', :size =>'300x200') %>
  <%= image_tag('consultation-03.png', :size =>'300x200') %>
  <p>カウンセリングやお困り相談ができます</p>
</div>



