<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
  <%= link_to "shop guide", homes_guide_path %>
</div>

<div class="guide">
  <h2>アクセス</h2>
  <div class="row">
    <div class="col-xl-4">
      <p><%= image_tag('map.jpg', :size =>'300x200') %></p>
    </div>
    <div class="col-xl-8">
      <p>
        住所：〒103-0028 東京都〇〇区XXX町3町目２−１△△△△△ビル１階<br><br>
        電話：☎︎ 03 - 1234 -5678<br><br>
        最寄り駅：東京日本駅　徒歩4分<br><br>
        営業時間：10時-19時(施設見学の最終予約は18時まで)
      </p>
    </div>
  </div>
</div>


<div class="guide">
  <h2>グルーミングスペース</h2>
  <%= image_tag('grooming1.jpg', :size =>'300x200', class: "shop-guide-img") %>
  <%= image_tag('grooming2.jpg', :size =>'300x200', class: "shop-guide-img") %>
  <%= image_tag('grooming3.jpg', :size =>'300x200', class: "shop-guide-img") %>
  <p>わんちゃん達の清潔を保っています</p>
</div>

<div class="guide">
  <h2>相談ブース</h2>
  <%= image_tag('consultation-01.jpg', :size =>'300x200', class: "shop-guide-img") %>
  <%= image_tag('consultation-02.jpg', :size =>'300x200', class: "shop-guide-img") %>
  <p>カウンセリングやお困り相談ができます</p>
</div>


