<div class="top-border"><%= image_tag('border.png', :size =>'1185x5') %></div>


<!--画像スライダー-->
<div class="a">
  <div class="b"><%= image_tag('top-img1.jpg', :size =>'1200x350', class: "c") %></div>
  <div class="b"><%= image_tag('top-img2.jpg', :size =>'1200x350', class: "c") %></div>
  <div class="b"><%= image_tag('top-img3.jpg', :size =>'1200x350', class: "c") %></div>
  <div class="b"><%= image_tag('top-img4.jpg', :size =>'1200x350', class: "c") %></div>
  <div class="b"><%= image_tag('top-img5.jpg', :size =>'1200x350', class: "c") %></div>
</div>

<div class="link_bar">
  <%= link_to "top", root_path %>
  <span>>></span>
</div>

<div class="top">
  <div class="top-concept row">
    <div class="col-xl-8 col-md-7 col-12">
      <h2>譲渡活動を行なっています</h2><br>
      <p>
       【ペットと人の幸せの架け橋】を提供したい、その想いで団体を運営しています。<br>
       いつでも施設にお越しいただき<br>
       触れ合っていただき、素晴らしい出会いを作ることがanimalhomeの役目です。<br><br>
      </p>
      <h2>里親様同士の交流も行なっています</h2><br>
      <p>
        ペットを飼っていると悩み事がたくさん出てきます。<br>
        里親さんが気軽にコミュニケーションできる場としてはもちろん、<br>
        施設を卒業して新しい家族を持った子たちの成長を見れる場としても活用して頂いています。<br><br>
      </p>
    </div>
    <div class="col-xl-4 col-md-5 col-12">
      <div class="dog-nukukyuu"><%= image_tag('background-img.png', :size =>'300x300') %></div>
    </div>
  </div>
</div>

<h2>shelterroomで家族を待っています</h2>

<div class="d">
  <% @pets.each do |pet| %>
    <div class="b">
      <%= link_to enduser_pet_path(pet) do %>
        <%= attachment_image_tag pet, :animal_image, size: '360x220', class: "c shelter-room-pet" %>
      <% end %>
      <%= pet.name %> /
      <%= pet.sex_i18n %>
    </div>
  <% end %>
</div>