<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept3.jpg', :size =>'1200x150') %></div>

<div class="post-edit-wrapper">

  <h2>post edit</h2>
  <%= form_with model: @post, url: post_path, method: :patch, local: true do |f|%>
    <!--エラー文-->
    <% if @post.errors.any? %>
      <div>
        <h5><%= @post.errors.count %>件のerrorが発生しました。</h5>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!--投稿の編集フォーム-->
    <div class="row">
      <div class="field col-xl-4 prev">
        <%= attachment_image_tag @post, :post_image, fallback: 'no-image.jpg', onChange: "$('.img_field').()", class: 'center-block img_prev'%>
        <%= f.attachment_field :post_image, class: 'img_field' %>
      </div>
      <div class="field col-xl-4">
        <%= f.text_field :content, class: "content"%>
      </div>
      <div class="actions col-xl-4">
        <%= f.submit "Update", class: "btn btn-outline-dark" %>
        <!--投稿削除-->
　     <%= link_to "destroy", post_path, method: :delete ,"data-confirm" => "この投稿を削除しますか？" %>
      </div>
    </div>
  <% end %>

</div>