<div class="top-border"><%= image_tag('border.png', :size =>'1200x5') %></div>
<div class="top-img"><%= image_tag('concept.png', :size =>'1200x150') %></div>

<div class="col-lg-12">
  <h2>Follower Users</h2>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @endusers.each do |enduser| %>
      <tr>
        <td>
          <%= link_to enduser_path(enduser) do %>
           <%= attachment_image_tag enduser, :profile_image, :fill, 40, 40, fallback: "no-image.jpg", class: "relationship-profole-img"%>
          <% end %>
        </td>
        <td><%= enduser.nick_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>