<!--ゲストログイン機能-->
<div class="bottom-border"><%= image_tag('border.png', :size =>'1185x5') %></div>
<div class="guest-login-btn">
  <%= link_to image_tag("enduser-guest-login.jpg", class: "guest-btn enduser-gusest-login", :size =>'200x133'), endusers_guest_sign_in_path, method: :post %>
  <%= link_to image_tag("enduser-guest-logout.jpg", class: "guest-btn", :size =>'200x133'), destroy_enduser_session_path , method: :delete, "data-confirm" => "エンドユーザーをログアウトしますか？" %>
  <%= link_to image_tag("admin-guest-login.jpg", class: "guest-btn", :size =>'200x133'), hostusers_guest_sign_in_path, method: :post %>
  <%= link_to image_tag("admin-guest-logout.jpg", class: "guest-btn", :size =>'200x133'), destroy_hostuser_session_path , method: :delete, "data-confirm" => "管理者をログアウトしますか？" %>
</div>


<footer>
  <div class="footer-top">
    <!--listボタン-->
    <nav class="footer-list">
      <ul class="footer-list-btn">
        <li>
          <%= link_to "当団体について", homes_about_path %>
        </li>
        <li>
          <%= link_to "里親希望の方", enduser_pets_path %>
        </li>
        <li>
          <%= link_to "施設案内", homes_guide_path %>
        </li>
        <li>
          <%= link_to "卒業犬・猫", posts_path %>
        </li>
        <li>
          <%= link_to "問い合わせ", new_enduser_inquiry_path %>
        </li>
      </ul>
      <ul class="footer-list-btn-media428">
        <li>
          <%= link_to "理念", homes_about_path ,class: "footer-media-small428"%>
        </li>
        <li>
          <%= link_to "里親", enduser_pets_path %>
        </li>
        <li>
          <%= link_to "施設", homes_guide_path %>
        </li>
        <li>
          <%= link_to "問い合わせ", new_enduser_inquiry_path %><br><br>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-middle">
    <p>〒103-0028   東京都〇〇区XXX町3町目２−１△△△△△ビル１階    ☎︎ 03 - 1234 -5678</p>
  </div>
  <div class="footer-middle-media428">
    <p>〒103-0028 <br>東京都〇〇区XXX町3町目２−１△△△△△ビル１階<br>☎︎ 03 - 1234 -5678</p>
  </div>
  <div class="footer-bottom">
      <!--snsボタン-->
      <nav class="footer-sns">
        <ul class="footer-sns-btn">
          <li>
            <%= link_to "" , "#" , class: "fa fa-facebook" %>
          </li>
          <li>
            <%= link_to "" , "#" , class: "fa fa-twitter" %>
          </li>
          <li>
            <%= link_to "" , "#" , class: "fa fa-instagram" %>
          </li>
      </nav>
    </div>
    <div class="copy-right">
      <p>Copyright © 2020 okadaharuna Inc. All Rights Reserved.</p>
    </div>
    <div class="hostuser-login-btn">
      <% if hostuser_signed_in? %>
       <%= link_to "-ログアウト(管理者)-", destroy_hostuser_session_path , method: :delete %>
      <% else%>
       <%= link_to "-ログイン(管理者)-", new_hostuser_session_path , class: "" %>
      <% end %>
    </div>
</footer>